<form class= "ingredients">

    <label for="ingredients">Current Ingredients:</label>
    <input type="text" id = "ingredient" name= "name">
    <button type="submit">Add to the inventory</button>
</form>