<div class="container">
	<div class="col s12 m12 l12">
		<div class="card-panel grey lighten-3">
			<h5>Input Your Ingredients</h5>
			<div class="input-field">
				<input type="text" class="form-control" id="ingredients" name="ingredients"
					placeholder="Apples, flour, sugar, etc." />
			</div>
			<button id="search_recipes" class="btn btn-primary btn-lg waves-effect waves-light"> Search Recipes</button>
		</div>
	</div>

	<div class="results"></div>

</div>