<div class="container">
	<div class="col-md-6 text-center">
		<h4>Input Your Ingredients</h4>
		<div class="form-group">
			<input type="text" class="form-control" id="ingredients" name="ingredients" value="apples,flour,sugar"/>
		</div>
		<button id="search_recipes" class="btn btn-primary btn-lg"> Search Recipes</button>
	</div>

	<div class="results"></div>

</div>